body {
  background: url("../img/annie-spratt-109237-blur.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Changa One", sans-serif;
  color: #ddc;
  text-align: center;
  text-shadow: -1px 2px 10px black;
}

h1 {
  font-family: "Cherry Swash";
  font-size: 3em;
  margin: 25px;
}

h3 {
  font-size: 2em;
  padding: 0;
  margin: 40px 0 10px 0;
}

h2 {
  font-family: "Cherry Swash";
  font-size: 1em;
}

#thankyou {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

#thankyou a {
  font-family: "Changa One", sans-serif;
  font-size: 1.3em;
}

.year {
  position: relative;
  top: -25px;
  margin: 0;
}

.date {
  font-family: "Averia Serif Libre", sans-serif;
  font-size: 1em;
  margin: 0;
  position: relative;
  top: -30px;
}

hr {
  position: relative;
  top: -30px;
  max-width: 800px;
  border: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(221, 221, 204, 0.75),
    rgba(0, 0, 0, 0)
  );
}

h5 {
  font-family: "Cherry Swash", sans-serif;
  color: #ddc;
  text-align: center;
  font-size: 2em;
  margin: 5px 0 0 0;
  padding: 0;
}

h5.nhs {
  font-size: 1em;
  position: relative;
  top: 25px;
  font-family: sans-serif;
}

h6 {
  font-family: "Averia Serif Libre", sans-serif;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 1.2em;
}

p,
a {
  margin: 2px;
  padding: 2px;
  font-size: 1em;
  color: #ddc;
  font-family: verdana, sans-serif;
  text-decoration: none;
}

a:hover {
  color: white;
}

.right-leaf {
  position: relative;
  right: 2px;
}

.big {
  font-family: "verdana", sans-serif;
  font-size: 1.5em;
}

.btn-container {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  height: 280px;
  border: 4px solid #ddddcc;
  border-radius: 3px;
}

.garden-2 {
  margin-bottom: 10px;
}

button {
  margin: 0 auto;
  background-color: #ddddcc;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-family: "Changa One", cursive;
  font-size: 2em;
  color: #242d2c;
}

button:hover {
  cursor: pointer;
}

.big-btn {
  padding-top: 12px;
}

.sub-content {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  position: relative;
  top: -10px;
  font-family: verdana, serif;
}

.med-btn {
  margin: 10px 0;
}

.container-brdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #ddc;
  border-radius: 4px;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 20, 0, 0.6);
}

.inner-tile {
  width: 90%;
  max-width: 440px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  font-size: 0.9em;
  margin: 0 5px;
}

.leaving-title {
  display: flex;
  justify-content: space-around;
}

.ferry-tile {
  margin-bottom: 5px;
}

.ferry-times {
  padding: 5px;
  margin: 5px;
  border: 2px solid #ddc;
}

.ferry-times p {
  text-align: center;
}

.fa-chevron-down {
  font-size: 4vw;
  margin: 0;
  position: relative;
  bottom: 1px;
}

.ferry-title-container .fa-chevron-down {
  bottom: 4px;
}

.ferry-info {
  font-size: 4vw;
  position: relative;
  bottom: 5px;
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.leaving-title a {
  border: 2px solid #ddc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  text-shadow: -1px 2px 10px black;
}

@media (min-width: 480px) {
  .fa-chevron-down {
    margin: 0 10px;
  }

  .ferry-info {
    font-size: 0.6em;
  }
}

@media (min-width: 720px) {
  .fa-chevron-down {
    font-size: 0.9em;
    margin: 0 20px;
  }

  .ferry-info {
    font-size: 0.7em;
  }
}
